<div class="container">
    <h1>The Quotes</h1>
    <div class="row">
        <div class="col-md-8">
            <div id="yourQuote" *ngFor='let quote of quotes;let i=index'>
                <h4 *ngIf="mostUpVotes()!==quote.upvotes || quote.upvotes===0" class="p-3 text">{{ quote.theQuote }}</h4>
                <h4 appHighlighter *ngIf="mostUpVotes()===quote.upvotes && quote.upvotes>0">{{quote.theQuote}}</h4>
                <p>Quote posted on <span id="posted">{{quote.creationDate|date}},</span><span class="customPipe">{{quote.creationDate|timeCount}} days ago</span>.</p>
                <div class="right">
                    <button class="btn btn-primary" (click)='toggleDetails(i)'>More Details</button>
                    <app-quote-detail *ngIf='quote.showDescription' [quote]='quote' (deleteQuote)='deleteThisQuote($event,i)'></app-quote-detail>
                </div>

            </div>
            <!-- <p *ngIf='quotes.length < 1'>You can add another quote</p> -->
        </div>
        <div class="col-md-4 text-center">
            <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
        </div>
    </div>

</div>