<div class="container-fluid bg">
    <div class=" container toolbar ">
        <h1 class="text-center" style="font-size: 60px;color: aliceblue;">Quotes Insights</h1>
    </div>
    <br>
    <div class="container">

        <div class="row">
            <div class="col-md-6 card">
                <h2 class="text-center">Quotes Library</h2>
                <div id="quote" *ngFor='let quote of quotes;let i = index'>
                    <div class="card">
                        <div class="text-center">
                            <p id="quotes" *ngIf="mostUpVotes()!== quote.upvotes || quote.upvotes===0">{{quote.theQuote}}</p>
                            <p appHighlight *ngIf="mostUpVotes()=== quote.upvotes && quote.upvotes>0">{{quote.theQuote}}</p>
                            <!-- <p>{{quote.theQuote}}</p> -->
                            <p>Date Posted &nbsp;&nbsp;{{quote.creationDate|date|uppercase}}
                            </p>
                            <button (click)='toggleDetails(i)' class="btn">Show More</button>
                            <app-quote-detail *ngIf="quote.showDescription" [quote]='quote' (isComplete)='deleteThisQuote($event,i)'></app-quote-detail>
                        </div>
                        <h4 class="card-title"></h4>

                        <p class="card-text" id="param"></p>
                        <div *ngIf='quote.author'>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
            </div>
        </div>
    </div>
</div>