<div class="container form">
    <div class="row" style="background-color: gray">
        <h2 class="text-center" style="margin: 20px;">Add a New Quote</h2>
        <br>

        <form style="padding: 3rem;margin-top: -10%;" (ngSubmit)='submitQuote() ;quoteForm.resetForm({})' #quoteForm='ngForm'>
            <div class="form-group">
                <label for="name"></label>
                <input type="name" required class="form-control" id="name" [(ngModel)]="newQuote.name" placeholder="Your Name" name="name" #name='ngModel'>
            </div>
            <div class="form-group">
                <label for="quote"></label>
                <textarea rows="5" type="text" class="form-control" id="quote" [(ngModel)]="newQuote.theQuote" placeholder="Your Quote" name="quote" #quote='ngModel' required></textarea>

            </div>
            <div class="form-group">

                <label for="author"></label>
                <textarea class="form-control" id="author" rows="1" [(ngModel)]="newQuote.author" placeholder="Author" name="author" #author="ngModel" required></textarea>

            </div><br><br>
            <div class="input">
                <button id="submit" class="btn btn-success" type="submit"> Submit Quote</button><br>
            </div>
        </form>
    </div>
</div>